.left
  .topic-list
    - collection.each do |topic|
      .topic
        %h2
          %a{ :href => "#{topic_url( topic.slug )}" }
            #{topic.title}
        .text
          = nl2br( text_cut( topic.text ) ).html_safe
          %a{ :href => "#{topic_url( topic.slug )}" }
            %span ●●●
        - if topic.tags.any?
          .tags
            - topic.tags.each do |tag|
              %a.btn.btn-mini{ :href => "#"}
                %i.icon-tag
                = tag
        .date
          %i.icon-pencil
          =l( topic.created_at.to_date, :format => :html ).html_safe
.right
  %br/