- content_for :head do
  %title #{resource.title}
  %meta{ :name => "keywords", :content => "#{resource.tags.join(",")}" }
  %meta{ :name => "description", :content => "#{text_cut( resource.text )}" }

%h1 #{resource.title}
.text
  = nl2br( resource.text ).html_safe
.date.margin-top-40
  %i.icon-pencil
  =l( resource.created_at.to_date, :format => :html ).html_safe
  - resource.tags.each do |tag|
    %a.btn.btn-mini{ :href => "#{topics_path( :tag => tag )}"}
      %i.icon-tag
      = tag

= render "4pcbr/right_pane"