= form_for [:editor, resource] do |f|
  .field
    = f.label :t_blog_id
    = f.select :t_blog_id, TBlog.all.map{ |b| [ "#{b.title}@#{b.domain}", b.id ] }
  .field
    = f.label :title
    = f.text_field :title, :style => "width: 640px;"
  .field
    = f.label :slug
    = f.text_field :slug, :style => "width: 640px;"
  .field
    = f.label :text
    = f.text_area :text, :class => "wide high"
  .field
    = f.label :tags
    = f.text_field :tags, :style => "width: 640px;", :value => ( resource.tags.join(", ") rescue "" )
  .field
    = f.label :is_draft
    = f.check_box :is_draft
  .field
    = f.label :created_at
    = f.date_select :created_at
  .field
    %a.btn.btn-success.submit{ :href => "#" }
      %i.icon-ok.icon-white
      Сохранить
    %a.btn.btn-inverse{ :href => "#{collection_url}" }
      %i.icon-arrow-left.icon-white
      К списку
    - if !resource.new?
      %a.btn.btn-danger{ :href => "#{resource_url}", :method => "delete", :confirm => "Удалить топик?", :success => "(function(){window.location.href=\"#{collection_url}\"})" }
        %i.icon-remove.icon-white
        Удалить
  