= form_for [:editor, resource] do |f|
  .field
    = f.label :t_blog_id
    = f.select :t_blog_id, TBlog.all.map{ |b| [ "#{b.title}@#{b.domain}", b.id ] }
  .field
    = f.label :title
    = f.text_field :title, :style => "width: 640px;"
  .field
    = f.label :slug
    = f.text_field :slug, :style => "width: 640px;"
  .field
    = f.label :keywords
    = f.text_field :keywords, :style => "width: 640px;"
  .field
    = f.label :meta
    = f.text_area :meta, :class => "wide high"
  .field
    = f.label :left
    = f.text_area :left, :class => "wide high"
  .field
    = f.label :right
    = f.text_area :right, :class => "wide high"
  .field
    %a.btn.btn-success.submit{ :href => "#" }
      %i.icon-ok.icon-white
      Сохранить
    %a.btn.btn-inverse{ :href => "#{collection_url}" }
      %i.icon-arrow-left.icon-white
      К списку
    - if !resource.new?
      %a.btn.btn-danger{ :href => "#{resource_url}", :method => "delete", :confirm => "Удалить страницу?", :success => "(function(){window.location.href=\"#{collection_url}\"})" }
        %i.icon-remove.icon-white
        Удалить