- content_for :head do
  %title #{resource.title}
  %meta{ :name => "keywords", :content => "#{resource.keywords}" }
  = resource.meta.html_safe

= markdown( resource.left )

- content_for :right do
  = markdown( resource.right )
