!!!
%html
  %head
    %title Blog
    = stylesheet_link_tag "editor/admin", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.admin
    %a{ :href => "#{editor_root_path}" }
      %img{ :src => "/assets/death_star.png" }/
    - if !notice.blank?
      .alert.alert-success
        %a.close{ "data-dismiss" => "alert" } ×
        = notice
    - if !alert.blank?
      .alert.alert-error
        %a.close{ "data-dismiss" => "alert" } ×
        = alert
    = yield
